<a href="https://colab.research.google.com/github/gabriellfelipe7/ExploratoryDataAnalysis_StudentsPerformance/blob/main/Students_Performace_in_Exams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Students Students Performance in Exams**
Gabriel Felipe Machado de Oliveira, 2022

# **1. Informa√ß√µes do dataset**
## 1.1. Extra√ß√£o
O dataset utilizado no presente estudo foi extra√≠do da plataforma Kaggle (https://www.kaggle.com/datasets/whenamancodes/students-performance-in-exams)

## 1.2. Defini√ß√µes e vari√°veis
A base de dados traz informa√ß√µes do desempenho de estudantes em uma avalia√ß√£o a fim de se analisar seus desempenhos e tr√™s principais compet√™ncias: c√°lculo matem√°tico; leitura; e escrita. Como ferramenta de mensura√ß√£o foi utilizado um score do teste para cada uma das compet√™ncias consideradas. O dataset basicamente busca a resposta para quest√µes do tipo:
- Qu√£o eficaz √© o curso de prepara√ß√£o para o teste?
- Quais os principais fatores que contribuem para os resultados dos testes?
- Qual seria a melhor maneira de melhorar as notas dos alunos em cada teste?
- Que padr√µes e intera√ß√µes nos dados voc√™ pode encontrar


## 1.3. Vari√°veis
As colunas da base e suas respectivas explica√ß√µes seguem abaixo:
- gender: g√™nero do participante;
- race/ethnicity: grupos de ra√ßas/etinias;
- parental level of education: n√≠vel de escolaridade dos pais;
- lunch: informa√ß√µes da alimenta√ß√£o do candidato;
- test preparation course: se o participante concluiu ou n√£o o curso preparat√≥rio do exame;
- math score: pontua√ß√£o de matem√°tica do estudante;
- reading score: pontua√ß√£o de leitura do estudante;
- writing score: pontua√ß√£o de escrita na escrita

## 1.4. Tamanho do dataset
O dataset utilizado possui um total de 8 colunas e 1000 linhas.

# **2. Objetivos**
## 2.1. Introdu√ß√£o
O objetivo principal do estudo √©, atrav√©s de m√©todos estat√≠sticos, analisar correla√ß√µes entre vari√°veis explicativas e as vari√°veis respotas (scores). O modelos estat√≠sticos utilizados ser√£o especificados conforme o avan√ßo do estudo e o n√≠vel de signific√¢ncia para todos testes se√£o de 5% (ùõÇ = 5%). Ser√£o utilizados testes de hip√≥teses a fim de responder peguntas previamente realizadas.

## 2.2. T√≥picos de abordagem
Como guia para o estudo, utilizou-se de perguntas provocativas, s√£o elas:
- Estudantes de g√™nero masculinos possuem scores maiores que estudantes do g√™nero feminino?
- Estudantes que conclu√≠ram o curso preparat√≥rio alcan√ßaram uma m√©dia de score maior que estudantes que n√£o finalizaram o trinamento?
- O n√≠vel de escolaridade dos pais possui influ√™ncia na pontua√ß√£o dos estudantes em matem√°tica?
- H√° correla√ß√£o entre as tr√™s √°reas de compet√™ncia?

# **4. Extra√ß√£o e Limpeza da Base de Dados**
Etapa pr√°tica introdut√≥ria voltada para limpeza e adequa√ß√£o dos dados.

In [ ]:
#Extra√ß√£o de bibliotecas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statistics as sts

In [ ]:
#Extra√ß√£o dos dados e visualiza√ß√£o
data = pd.read_csv('exams.csv')
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [ ]:
#An√°lise dos tipos de dados
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

H√° 5 vari√°veis categ√≥ricas e 3 num√©ricas inteiras.

In [ ]:
#Bucando valores nulos
data.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [ ]:
#Buscando valores vazios
data.isna()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

Como visto, os dados est√£o prontos para serem analisados. N√£o h√° valores vazios ou nulos.

# **5. An√°lise das vari√°veis quantitativas**
A fim de eventualmente fazer suposi√ß√µes sobre os par√¢metros da popula√ß√£o, o teste da normalidade das vari√°veis quantitativas se fez necess√°rio. Trata-se de uma base com 1000 observa√ß√µes (um ùêß suficientemente grande), isto √©, o Teorema Central do Limite garantiria a normalidade. Entretanto, vamos utilizar um Teste de Normalidade n√£o-param√©trico para verificarmos mais afundo se a mostra de notas dos estudantes nas tr√™s compet√™ncias seguem uma distribui√ß√£o Normal.

Metodologia:
Temos v√°rias op√ß√µes de Testes N√£o-Param√©tricos que verificam a Normalidade. Vamos optar por usar o Shapiro Wilk. Al√©m desse ser poderoso para tal verifica√ß√£o, nossa base satisfaz seus pr√© requisitos.

## 5.1. Variavel: 'math score'

Visualiza√ß√£o da amostra:

In [ ]:
plt.hist(data['math'], density=True, bins=30)  # density=False would make counts
plt.ylabel('Probability')
plt.xlabel('Data')